# Ignore rails stuff
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# Ignore solr stuff
/solr/data
/solr/pids

# Ignore emacs stuff
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive

# Ignore MacOS X stuff
.DS_Store
._*
.Spotlight-V100
.Trashes

# Ignore textmate stuff
*.tmproj
*.tmproject
tmtags
