<% @proposals.each do |prop| %>
  <%
    voting = true if local_assigns[:voting].nil?
  %>

  <tr class="post">
    <% if voting %>
      <td class="voting">
        <%= render :partial => 'votes/js_counter' %>
        <%-# render :partial => 'votes/vote', :locals => {:voteable => prop} %>
      </td>
    <% end %>
    
    <td class="description">
      <div class="pull-right">
        <% prop.tags.each do |t| %>
          <%= tag_link t %>
        <% end %>
      </div>
        <h3><%= link_to prop.title, proposal_path(@issue, prop), :rel => 'nofollow', :class => 'post-link' %></h3>
      <%- # render :partial => 'shared/byline', :locals => {:comment_or_proposal => prop, :show_comments_link => true, :prop => prop} %>
    </td>
  </tr>
<% end %>