<h1>Listing contras</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contras.each do |contra| %>
  <tr>
    <td><%= link_to 'Show', contra %></td>
    <td><%= link_to 'Edit', edit_contra_path(contra) %></td>
    <td><%= link_to 'Destroy', contra, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contra', new_contra_path %>
