// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.voting { 
  white-space: nowrap;
  
  a {
    color: #333; text-decoration: none;
    &:hover { color: #333; text-decoration: none; }
  }
  a.upvote.on { color: green; }
  a.downvote.on { color: red; }
  
  .dead-links { color: #aaa; }
}
.thumbs-wrapper {
  float:left;
  margin-right:20px;
}
.vote-counter {
  text-align:center;
  margin-bottom:10px;
  font-size:1.5em;
  color:#333;
}
.vote-button {
  width:48px;
  height:48px;
  overflow:hidden;
  display:block;
  margin-bottom:10px;
}
.vote-button:hover {
  background-position: 0px -48px;
}
.thumbs-down {
  margin-top:20px;
  background-image:image-url('thumbs_down.png');
}
.thumbs-up {
  background-image:image-url('thumbs_up.png');
}
