<div class="thumbs-wrapper">
  <div class="thumbs-up-counter vote-counter">0</div>
  <div class="thumbs-up vote-button"></div>
</div>
<div class="thumbs-wrapper">
  <div class="thumbs-down-counter vote-counter">0</div>
  <div class="thumbs-down vote-button"></div>
</div>